body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif; }

figure {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1140px; }

.intro {
  text-align: center; }
  .intro h2 {
    color: #1c1e21;
    font-size: 2.125rem;
    margin-bottom: 1rem; }
  .intro h3 {
    color: #444950;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    font-weight: 400; }

.button {
  display: inline-block;
  padding: 1.0625rem 1.6875rem;
  font-size: 1.125rem;
  background-color: transparent;
  color: #444950;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-weight: 800; }
  .button--green {
    color: #fff;
    background-color: #00d061; }

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.card {
  background-color: #fff;
  margin-bottom: 12px; }
  .card.grid-3 {
    flex-basis: 100%; }
  .card.grid-4 {
    flex: 0 1 calc(50% - .5rem); }
  .card a {
    text-decoration: none;
    color: inherit; }
  .card:hover {
    cursor: pointer; }
  .card__image {
    display: block;
    border: 0;
    width: 100%;
    height: auto; }
  .card__body {
    margin: 20px; }
  .card__category, .card__footer {
    font-size: .75rem;
    letter-spacing: .1rem;
    line-height: 1.2em;
    word-spacing: normal;
    font-weight: 500;
    color: #787679;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .card__title {
    font-family: "Playfair Display", serif;
    font-size: 1.25rem;
    font-weight: 700;
    word-spacing: normal;
    letter-spacing: -.02em;
    line-height: 1.3em;
    padding-bottom: 2em; }
  .card__subtitle {
    color: #fff; }
  .card__text {
    color: #fff; }
  .card__footer {
    display: flex;
    justify-content: space-between; }

.card--overlay {
  position: relative; }
  .card--overlay .card__body {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-bottom: 20px;
    padding-right: 24px; }
  .card--overlay .card__title {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 90%;
    letter-spacing: .02em;
    padding-bottom: 0;
    text-transform: uppercase; }
  .card--overlay .card__actions {
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 70%; }
    .card--overlay .card__actions li {
      margin-right: 15px; }
    .card--overlay .card__actions .cta__play {
      background-color: red;
      padding: 5px 25px; }
  .card--overlay .darken {
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 3%, black 100%);
    opacity: 0.6;
    position: absolute;
    height: 80%;
    width: 100%;
    left: 0px;
    bottom: 0px; }

.card--overlay-icon {
  position: relative; }
  .card--overlay-icon .card__category {
    margin-bottom: 0; }
  .card--overlay-icon .card__title {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    padding-bottom: .5rem; }
  .card--overlay-icon .card__icon {
    color: #00d061;
    font-size: 1.5rem;
    padding: 8px;
    position: absolute;
    right: 8px;
    top: 8px; }

.card--video {
  position: relative; }
  .card--video .card__media {
    position: relative; }
  .card--video .card__category {
    margin-bottom: 0; }
  .card--video .card__title {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    padding-bottom: .5rem; }
  .card--video .card__icon {
    display: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 8px;
    position: absolute;
    right: 8px;
    top: 8px; }
  .card--video .card__label {
    position: absolute;
    background-color: #000;
    color: #fff;
    bottom: 0;
    right: 0;
    margin: 4px;
    font-size: .875rem;
    padding: 2px 4px;
    border-radius: 2px;
    letter-spacing: .5px; }

.card:hover .card__icon {
  display: block; }

@media (min-width: 768px) {
  .intro h2 {
    font-size: 4rem;
    line-height: 4.375rem; }
  .intro h3 {
    font-size: 1.75rem;
    line-height: 2.375rem; }
  .card.grid-3 {
    flex: 0 1 calc(33% - .75rem); }
  .card.grid-4 {
    flex: 0 1 calc(25% - .75rem); }
  .card:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05); }
    .card:hover .card__title > span {
      border-bottom: 1px solid #00d061; }
  .card__title > span {
    -webkit-transition: border-bottom .3s ease-in;
    transition: border-bottom .3s ease-in;
    border-bottom: 1px solid transparent; } }
