$accent-color: #00d061;
$light-color: #fff;
$black: #000;
$title-font: 'Playfair Display', Georgia, serif;
$ss-font: 'Roboto', Arial, Helvetica, sans-serif;
body {
    background-color: #f5f5f5;
    font-family: $ss-font;
}
figure {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1140px;
}
.intro {
    text-align: center;
    h2 {
        color: #1c1e21;
        font-size: 2.125rem;
        //line-height: 4.375rem;
        margin-bottom: 1rem;
    }
    h3 {
        color: #444950;
        font-size: 1.125rem;
        //line-height: 2.375rem;
        margin-bottom: 1.5rem;
        font-weight: 400;
    }
}
.button {
    display: inline-block;
    padding: 1.0625rem 1.6875rem;
    font-size: 1.125rem;
    background-color: transparent;
    color: #444950;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
    font-weight: 800;
    &--green {
        color: #fff;
        background-color: $accent-color;
    }
}
.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    display: flex;
    background-color: #fff;
    margin-bottom: 12px;
    &.grid-3 {
        flex-basis: 100%;
    }
    &.grid-4 {
        flex: 0 1 calc(50% - .5rem);
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    &:hover {
        cursor: pointer;
    }
    &__image {
        display: block;
        border: 0;
        width: 100%;
        height: auto;
    }
    &__body {
        margin: 20px;
    }
    &__category, &__footer {
        font-size: .75rem;
        letter-spacing: .1rem;
        line-height: 1.2em;
        word-spacing: normal;
        font-weight: 500;
        color: #787679;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    &__title {
        font-family: $title-font;
        font-size: 1.25rem;
        font-weight: 700;
        word-spacing: normal;
        letter-spacing: -.02em;
        line-height: 1.3em;
        padding-bottom: 2em;
    }
    &__subtitle {
        color: #000;
        font-size: 90%;
    }
    &__text {
        color: #000;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
    }
}
// ********************* CARD OVERLAY MOVIES ************************
.card--overlay {
        position: relative;
        display: block;
    .card {
        &__body {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            padding-bottom: 20px;
            padding-right: 24px;
        }
        &__title {
            color: #fff;
            font-family: $ss-font;
            font-size: 95%;
            letter-spacing: .02em;
            padding-bottom: 0;
            text-transform: uppercase;
        }
        &__text {
            color: $light-color;
            font-size: 95%;
        }
        &__actions {
            color: $light-color;
            display: flex;
            align-items: center;
            margin-top: 10px;
            text-transform: uppercase;
            font-size: 70%;
            li {
                margin-right: 15px;
            }
            .cta__play {
                background-color: red;
                padding: 5px 25px;
            }
        }
    }
    .separator {
        border-top: 3px solid red;
        padding-bottom: 10px;
        width: 10%;
    }
    .darken {
        background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 3%, rgb(0, 0, 0) 100%);
        opacity: 0.6;
        position: absolute;
        height: 80%;
        width: 100%;
        left: 0px;
        bottom: 0px;
    }
}

// ********************* CARD OVERLAY ICON ************************

.card--overlay-icon {
    position: relative;
    .card {
        &__category {
            margin-bottom: 0;
        }
        &__title {
            font-family: $ss-font;
            font-size: 1rem;
            padding-bottom: .5rem;
        }
        &__icon {
            color: $accent-color;
            font-size: 1.5rem;
            padding: 8px ;
            position: absolute ;
            right: 8px ;
            top: 8px ;
        }
    }
}

// ********************* CARD OVERLAY VIDEO ************************
.card--video {
    position: relative;
    // margin-right needed only if carousel is used
    margin-right: 10px;
    .card {
        &__media {
            position: relative;
        }
        &__category {
            margin-bottom: 0;
        }
        &__title {
            font-family: $ss-font;
            font-size: 1rem;
            padding-bottom: .5rem;
        }
        &__icon {
            display: none;
            color: $light-color;
            font-size: 1.5rem;
            padding: 8px ;
            position: absolute ;
            right: 8px ;
            top: 8px ;
        }
        &__label {
            position: absolute;
            background-color: #000;
            color: $light-color;
            bottom: 0;
            right: 0;
            margin: 4px;
            font-size: .875rem;
            padding: 2px 4px;
            border-radius: 2px;
            letter-spacing: .5px;
        }
    }
}

// experimental, nned to be nested
.card:hover .card__icon {
    display: block;
}

// CARD WIDE
.card--wide {
    display: block;
    a {
        display: flex;
        align-items: center;
    }
    .card__image {
        width: 120px;
    }
    .card__category {
        margin-bottom: 5px;
    }
    .card__title {
        font-size: 90%;
        padding-bottom: .5rem;
    }
    .card__footer {
        font-size: .5rem;
    }
    .card__author {
        display: none;
    }
    .card__text {
        color: $black;
        font-size: .875rem;
        padding-bottom: .5rem;
    }
}

@media (min-width: 768px) {
    .intro {
        h2 {
            font-size: 4rem;
            line-height: 4.375rem;
        }
        h3 {
            font-size: 1.75rem;
            line-height: 2.375rem;
        }
    }

    // CARDS
    .card {
        &.grid-3 {
            flex: 0 1 calc(33% - .75rem);
        }
        &.grid-4 {
            flex: 0 1 calc(25% - .75rem);
        }
    }
    .card:hover {
        cursor: pointer;
        box-shadow: 0 0 20px 0 rgba(0,0,0,.05);
        .card__title>span {
            border-bottom: 1px solid $accent-color;
        }
    }
    .card__title>span {
        -webkit-transition: border-bottom .3s ease-in;
        transition: border-bottom .3s ease-in;
        border-bottom: 1px solid transparent;
    }

    // CARD WIDE
    .cards .card--wide {
        flex-wrap: nowrap;
    }
    .card--wide {
        flex: 0 1 calc(50% - .5rem);
        .card__image {
            width: 150px;
        }
        .card__category {
            margin-bottom: 5px;
        }
        .card__title {
            font-size: 1.125rem;
        }
        .card__footer {
            font-size: .5rem;
        }
    }
}
