<div class="card card--overlay">
    <a href="#">
        <figure class="card__media">
            <img src="..." class="card__image">
        </figure>
        <div class="darken"></div>
    </a>
    <div class="card__body">
        <div class="separator"></div>
        <div class="card__title">
            Card Title
        </div>
        <div class="card__text">Card Text.</div>
        <ul class="card__actions cta">
            <li class="cta__play"><a href="#"><i class="fas fa-play"></i> Play</a></li>
            <li class="cta__favorite"><a href="#"><i class="far fa-heart"></i> Favorite</a></li>
            <li class="cta__download"><a href="#"><i class="fas fa-download"></i> Download</a></li>
        </ul>
    </div>
</div>